*{
    margin: 0;
    padding: 0;
}

.intro{
    font-size: 3.5rem;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;    
}

.profile{
    width:300px;
    margin-top: 20px;
}

@media (max-width:991px){
    .intro{
        text-align: center;
        padding-left: 0;
    }
}

.htmlIcon,.cssIcon,.javascriptIcon,.githubIcon,.springIcon
{
    width: 50px;
    margin-top: 7px;
    margin-bottom: 7px;
}

#hibernate{
    background-color: rgb(191, 118, 118) !important;
}

img {
    pointer-events: none;
}

.this-row{
    padding-left: 50px;
    padding-right: 50px;
}